@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: rgb(182, 235, 217);
}

header{
    background-color: rgb(6, 134, 92);  
    color: white;
    text-align: center;
}

header > h1{
    padding: 50px;
    font-variant: small-caps;
}

section{
    background-color: blanchedalmond;
}

nav{
    background-color: azure;
    text-align: center;
    padding: 20px;
    
}

nav > a{
    text-decoration: none;
    padding-inline: 50px;
}

a:hover{
    text-decoration: underline;
}

a:visited , footer:visited{
    color: black;
}

footer{
    text-align: center;
    text-decoration: none; 
}